
#container{
    width:400px;
    margin:0 auto;
    position: relative;

    
}

#background {
    filter: blur(16px); 
    width: 100%;
    background:url("images/img_principale.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    position: absolute; 
}

/*Image fooder*/
img{
    width : 200px;   
   
}

.centrer {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
#container h1{
    margin: 0 auto;
    padding-bottom: 20px;
    list-style:none;
    font-family: 'PT Sans Narrow', regular ;
    text-align: center;
    font-size: 20px;

}
#container h2{
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 10px;
    list-style:none;
    font-family: 'PT Sans Narrow', regular ;
    text-align: center;
    color: grey;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
input[type=submit]:hover {
    background-color: white;
    color: #000000;
    border: 1px solid #000000   ;
}